/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
/* Select all CSS Start*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Calibri, sans-serif;
  overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

/* all link CSS */
a {
  text-decoration: none;
  color: inherit;
}

/* Select all CSS End*/

/* create global variable with :root selector Start*/
:root {
  --header-bg-color:#fefefe;
  --footer-bg-color: rgb(244, 244, 244);
  --body-bg-color: #e3e3e3;
  --input-bg: #f2f2f2;
  --input-bg-focus: #dbdbdb;
  --text-color: #000;
  --light-text-color: #545454;
  --light-text-title: #353535;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: var(--dark-blue);
  --light-orange: #ffaf60;
  --dark-orange: #c26100;
  --x-dark-orange: rgb(157, 42, 1);
  --light-red: rgb(236, 56, 56);
  --white: #fff;
  --light-white-text: #eaeaea;
  --light-black: rgb(23, 23, 23);
  --light-blue: #d68254;
  --dark-blue: #fefefe;
  --pink-main: #f89e9e;
}
/* create global variable with :root selector End*/

/* Header CSS Start*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  background-color: var(--header-bg-color);
  color: var(--light-text-color);
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-y: hidden;
  margin-right: 10px;
  box-shadow:-1px 5px 10px 5px rgba(112, 112, 112, 0.2);
}

.logo {
  padding: 10px 0 10px 15px;
  width: auto;
  color: #f89e9e;
  font-family: "Poppins";
  font-weight: 600;
  margin-left: 5rem;
}

/* nav items CSS start*/
.nav-items{
  
}
.cart-number{
  background-color: var(--pink-main);
  
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 50%;
}
.nav-items > ul {
  
  list-style-type: none;
  display: flex;
  color:grey;
  align-items: center;
  justify-content: space-between;
  
}

.nav-items > ul > li {
  padding: 10px;
  color:rgb(0, 0, 0);
  font-weight: light;
  margin:1rem;
  font-stretch: expanded;
  font-weight: 300;
}

.nav-items > ul > li .fa-solid{
  padding-top: 15%;
}

.nav-items > ul > li:hover
 {
  color:#f89e9e;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  transition: all;
  transition-duration: 200ms;
}
.cart-mobile{
  display: none;
  color:black;
}


.logout-btn,
 .login-btn {
  
  border: none;
  border-radius: 25px;
  background-color: #f89e9e;
  font-size: 15;
  font-weight: 500;
  padding:10px;
  padding-left:15px;
  padding-right:15px;
  
  cursor: pointer;
  margin-right: 7rem;
  color:white;

}
.logout-btn:hover,
 .login-btn:hover {
  
  background-color: #e49595;

  cursor: pointer;
  
  transition: all;
  transition-duration: 200ms;
 }

.nav-items > ul > li .logout-btn:hover,
.nav-items > ul > li .login-btn:hover{
  color: var(--white);
}

/* nav items CSS End*/

/* Header CSS End*/

/* Body CSS Start*/

/* search container CSS Start*/
.search-container {
  margin: 100px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.search-container .search-input {
  width: 30%;
  box-sizing: border-box;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #ffffff;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 8px 15px 8px 12px;
  border: 1px solid #aabcca;
  border-right: 0;
  color: var(--text-color);
  outline: none;
  font-size: large;
  font-weight: 400;
  
}

.search-container .search-input:focus{
  border-color: var(--pink-main);
}
.search-container .search-input::placeholder{
  color: #999; /* Placeholder text color */
  font-size: 15px; /* Placeholder font size */
  font-weight: 300;
}
.search-container .search-btn {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #f89e9e;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  padding: 8px 15px;
  margin-left: -4px;
  cursor: pointer;
  border: none;
  outline: none;
}
.search-container .search-btn:hover {
  background-color:#d07f7f;
  transition: all;
  transition-duration: 200ms;
}

/* Search error message css Start*/
.error-container {
  text-align: center;
  font-size: large;
  margin: 20px 10px;
}
/* Search error message css End*/

/* search container CSS End*/

/* Restaurant cards CSS Start*/
.restaurant-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  background-color: var(--dark-blue);
  min-height: 50vh;
}

.card {
  min-height: 310px;
  width: 240px;
  border-radius: 10px;
  box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  border: 1px solid rgb(240, 198, 205);
  transform: scale(.98);
  box-shadow: none;
  
  transition: all;
  transition-duration: 500ms;
}

.card >div>h3{
  color: var(--light-text-title)
}
.card > img {
  width: 100%;
  border-radius: 10px;
}

.card> div> h5 {
  font-weight: bold;
  color:grey;
}

.card > span {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  text-align: center;
}

.card > span > h4 {
  font-weight: bolder;
  font-size: 14px;
  
  color: var(--light-text-title)
}

.card > span > h4:first-child {
  display: flex;
  align-items: center;
  
  color: rgb(132, 126, 126);
  
  
  justify-content: center;
}

.card > span > h4:first-child .fa-star {
  font-size: 10px;
  
}
.card > span > h4:last-child {
  font-weight: 300;
  font-size: 12px;
  color: grey;
}
.card > span > h4:nth-child(2) {
  font-weight: 300;
  font-size: 12px;
  color: grey;
  
}
.card > div > h6{
  font-weight: 300;
  font-size: 12px;
  color: grey;
  
}

/* Restaurant cards CSS End*/

/* Restaurant Menu CSS Start */
.restaurant-menu {
  margin-top: 60px;
  min-height: 80vh;
  width: auto;
}
.restaurant-summary {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 243, 243);
  color: var(--light-white-text);
  overflow-y: hidden;
}
.restaurant-img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
}
.restaurant-summary-details {
  display: flex;
  flex-direction: column;
  flex-basis: 520px;
  margin: 20px;
}
.restaurant-title {
  font-size: 40px;
  max-width: 540px;
  font-weight: 700;
  color: #212020;
}
.restaurant-tags {
  white-space: nowrap;
  color: #212020;
  opacity: 0.7;
  font-size: 15px;
  max-width: 540px;
}
.restaurant-details {
  display: flex;
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 10px;
  color: #212020;
  font-weight: 300;
  font-size: 16px;
  max-width: 340px;
}
.restaurant-rating {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  gap: 5px;
  background-color: var(--pink-main);
  border-radius: 5px;
  font-weight: 500;
  color: white;
}

.restaurant-menu-content {
  display: flex;
  justify-content: center;
}

.menu-items-container {
  margin-top: 30px;
  width: 850px;
}
.menu-title-wrap {
  padding: 20px;
}
.menu-title-wrap .menu-title{
  color: var(--light-text-color);
}
.menu-count {
  margin-top: 10px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  font-size: 1rem;
}

.menu-items-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 30px;
  
  background-color: #fbfbfb;
  margin:10px;
}
.menu-item:hover{
  box-shadow: 1px 1px 10px rgb(226, 224, 224);
  transition: all;
  transition-duration: 300ms;
}
.menu-item-details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  overflow: hidden;
  height: auto;
}

.item-title {
  width: auto;
  color: var(--light-text-color);
}
.item-desc {
  margin-top: 14px;
  line-height: 1.3;
  color: rgba(40, 44, 63, 0.45);
  width: inherit;
  letter-spacing: -0.3px;
  font-size: 1rem;
}
.item-cost {
  margin-top: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #3e4152;
  width: inherit;
}

.menu-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 300px;
  overflow: hidden;
  height: auto;
}
.menu-item-img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.add-btn {
  background-color: rgb(41, 40, 40);
  color: #fff;
  padding: 8px 25px;
  cursor: pointer;
  outline: none;
  border: none;
  margin-top: 10px;
  border-radius: 20px;
}
.add-btn:hover{
  background-color: var(--pink-main);
  transition: all;
  transition-duration: 300ms;
  
}

/* Restaurant Menu End Start */

/*Shimmer Card CSS Start*/
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.shimmer-card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
  min-height: 310px;
}
.shimmer-title {
  width: 60%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}
.shimmer-details {
  width: 100%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}
/*Shimmer Card CSS End*/

/* Shimmer Menu Card CSS Start */

.restaurant-summary .shimmer-img {
  height: 144px;
  width: 230px;
}

.shimmer-menu-card {
  display: flex;
  justify-content: space-evenly;
  width: 848px;
  padding: 10px;
  height: ;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-item-details {
  width: 438px;
}

.shimmer-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 118px;
  height: 150px;
}
.shimmer-img-wrapper .shimmer-img {
  width: 118px;
  height: 96px;
}

.shimmer-img-wrapper .shimmer-btn {
  width: 94px;
  height: 34px;
  margin-top: 10px;
}

.shimmer-w60 {
  width: 60%;
  margin-top: 10px;
}

.shimmer-w40 {
  width: 40%;
  margin-top: 10px;
}

.shimmer-w20 {
  width: 20%;
  margin-top: 4px;
}
/* Shimmer Menu Card CSS End */

/*Animation to Shimmer Component Card and Menu card Start*/
.stroke {
  height: 15px;
  background: #777;
}
.stroke-color {
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}
/*Animation to Shimmer Component Card and Menu card End*/


/* User Offline CSS Start */
.user-offline-container {
  text-align: center;
  padding: 20px;
}

.user-offline-heading {
  color: #333333;
  margin-top: 100px;
}

.offline-image {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

.user-offline-message {
  color: #505050;
  font-size: 18px;
  margin: 20px 0px;
}

/* User Offline CSS End */

/* Body CSS End*/

/* Error page CSS Start */
.error-page {
  text-align: center;
  background-color: var(--body-bg-color);
  height: 100vh;
  width: auto;
  color:grey;
}
.error-page .error-data {
  padding: 10px 0px;
  font-weight: 300;
}

.error-page .error-back-home {
  padding: 20px;
}
.error-page .error-back-home a {
  text-decoration: none;
  background-color: var(--orange);
  color: var(--light-black);
  padding: 10px 15px;
  border-radius: 5px;
}

.error-page .error-back-home a:hover {
  background-color: var(--pink-main);
  color: white;
  transition: all;
  transition-duration: 500ms;
}

/* Error page CSS End */

/* About us page CSS Start */
.about-profile-container {
  margin: 100px auto 0px;
  text-align: center;
}


.about-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px auto 0px;
  justify-content: center;
  align-items: center;
  height: 72vh;
}
.about-container .about-left {
  padding-left: 10px;
  overflow-y: hidden;
}
.about-container .about-left h1 {
  font-size: 70px;
  color: var(--light-text-color);
}
.about-container .about-left h1 span {
  background-color: var(--orange);
  padding: 0 10px;
  border-radius: 15px;
  color:var(--pink-main);
}
.about-container .about-left h4 {
  font-size: 25px;
  padding-top: 10px;
  font-weight: 300;
  color: var(--light-text-color);
}
.about-container .about-left h4 span {
  color: var(--pink-main);
  font-weight: 600;
}
.about-container .about-right {
  padding-left: 20px;
  overflow-y: hidden;
}
.about-container .about-right img {
  width: 700px;
  padding-right: 70px;
}

.pink-text{
  color:pink;
}

/* About us page CSS End */

/* Contact us page CSS Start */
.contact-container {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto 30px;
  justify-content: space-evenly;
  overflow-y: hidden;
  height: 60vh;
}

.contact-container .contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.contact-container .contact-right h1{
  color: rgb(196, 196, 196);
  font-size: 50px;
  font-family: "Roboto";
  font-weight: 700;
}
.contact-container .contact-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.contact-container .contact-right form input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 2px solid #aabcca;
  width: 50vh;
}

.contact-container .contact-right form textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 2px solid #aabcca;
  width: 50vh;
}

.contact-container .contact-right form button {
  padding: 10px 15px;
  margin: 10px;
  background-color: var(--pink-main);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.contact-container .contact-right form button:hover {
  background-color: var(--dark-green);
}

/* Contact us page CSS End */

/* Login page CSS Start */
.login-container {
  width: 380px;
  
  margin: 40px auto 0;
  border-radius: 10px;
  background: white;
  box-shadow: 5px 10px 10px rgba(231, 156, 156, 0.427);
}

.login-form {
  position: relative;
  z-index: 1;
  background: white;
  border-radius: 10px;
  
  max-width: 380px;
  padding: 25px 40px;
  text-align: center;
}

.login-form input {
  outline: 0;
  background: transparent;
  width: 100%;
  border: 1px solid rgb(194, 189, 189);
  border-radius: 20px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login-form input:focus {
  background: var(--input-bg-focus);
}

.login-form button {
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 100%;
  border: 0;
  border-radius: 20px;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.login-form button:hover {
  background: var(--pink-main);
}

.login-form span {
  font-size: 40px;
  color: #9e9fa1;
  margin-bottom: 25px;
  display: block;
  font-weight: bold;
}

.login-form p.error {
  margin: 0 0 10px 10px;
  text-align: left;
  font-size: 13px;
  color: red;
}
/* Login page CSS End */

/* footer CSS Start*/
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;

  width: auto;
  text-align: center;
  background-color: var(--footer-bg-color);
  padding: 20px 10px 20px;
  
 
}

.footer-section{
  margin: 20px;
  color: grey;
}
.footer-section > ul{
  font-size: 80%;
  cursor: pointer;
}
.footer-section > h3{
  margin-bottom:10px ;
}
.footer-section >ul> li:hover{
  color:var(--pink-main)
}
.footer-section >ul> li{
 
  padding:5px;
}

/* footer CSS End*/

/* cart CSS start*/

.container-cart{
  height: 75vh;;
}
.cart-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


/* cart CSS End*/

/* CSS for mobile devices */

@media only screen and (max-width: 1100px) {
  .about-container .about-left h1 {
    font-size: 50px;
  }
  .about-container .about-left h4 {
    font-size: 20px;
  }
  .about-container .about-right img {
    padding-top: 30px;
    width: 400px;
  }
}
@media only screen and (max-width: 880px) {
  .about-container .about-left h1 {
    font-size: 40px;
  }
  .about-container .about-left h4 {
    font-size: 15px;
  }
  .about-container .about-right img {
    padding-top: 30px;
    width: 350px;
  }
  .contact-container {
    overflow-y: hidden;
  }
  .error-page img {
    height: auto;
    width: 80%;
  }
  .profile-class-container {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .profile-container {
    width: 80%;
  }
  .repo-container {
    width: 80%;
  }
  .restaurant-summary{
    padding-left: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .about-container .about-right img {
    width: 300px;
  }
}

@media only screen and (max-width: 470px) {
  .header {
    height: 60px;
    display: flex;
    
  }
  .header .logo {
    width:200px;
    margin-left: 0;
  }
  .nav-items > ul > li {
    font-size: small;
    display: none;
  }
  
  .cart-mobile{
    display: inline;
    color:black;
    font-weight: 300;
  }
  .logout-btn,
  .login-btn {
    font-size: small;
    margin-right:none;
    
  }
  .logbox{
    transform: translateX(90px);
  }
  .search-container {
    margin: 80px 10px auto 0px;
    min-width:100vw;
  }
  .search-container>input {
    
    min-width:45vw;
  }
  .restaurant-img{
    object-fit: cover;
    display: none;
  }
  .restaurant-menu {
    margin-top: 60px;
  }
  .restaurant-summary {
    min-height: 250px;
    overflow-y: hidden;
  }
  .restaurant-details{
    flex-wrap: wrap;
    justify-content:flex-start;
  }

  .restaurant-rating-slash{
    padding: 0px 20px;
  }
  .menu-item{
    flex-wrap: wrap;
  }
  .menu-item-list{
    flex-wrap: wrap;
  }
  .menu-img-wrapper>img{
    
    align-items: flex-start;
    justify-content: center;
    object-fit: cover;
  }
  .about-container {
    height: auto;
  }
  .login-container {
    width: 310px;
  }
  .login-form {
    max-width: 310px;
  }
  .cart-items{
    margin:none;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 350px) {
  .header {
    height: 50px;
  }
  .header .logo {
    width: 70px;
  }
  .nav-items > ul > li {
    font-size: x-small;
  }
  .nav-items > ul > li .logout-btn,
  .nav-items > ul > li .login-btn {
    /* padding: 5px; */
    font-size: x-small;
  }
  .search-container {
    margin: 70px auto 0px;
  }
  .restaurant-menu {
    margin-top: 50px;
  }
  .login-container {
    width: 280px;
  }
  .login-form {
    max-width: 280px;
  }
}
.margin{
  margin-top: 100px;
}

.rem{
  background: red;
  color: white
}